body{
    padding: 0px;
    margin: 0px;
}
nav{
    display:flex;
    justify-content:space-around ;
    width:20%;
    margin-left: 78%;
    margin-top: 10px;
    
}
nav a {
    color:rgb(68, 67, 67);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    padding: 5px 15px;
}
nav a:last-child{
    background-color: rgb(25, 116, 219);
    padding:8px 16px;
    color:cornsilk;
    margin-left: 14px;
    border-radius: 4px;
}
nav a:last-child:hover{
    text-decoration: none;
    background-color:rgb(22, 139, 235);
    box-shadow:2px 2px 10px 2px rgb(135 135 135 / 30%)

}
nav a:hover{
    text-decoration: underline;

}
nav img{
     height:24px;
     margin-top: 4px;
     color:grey;


}

main{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
figure img{
    width:45%;
}
input{
    width:80%;
    padding:1em;
    border-radius: 30px;
    outline: none;
    border: 1px solid rgb(187, 184, 184);
}
.btn-container{
    margin-top: 25px;
}
button{
    padding: 10px;
    margin-left: 12px;
    text-transform: capitalize;
    border:none;
    outline: none;
    background-color: rgb(241, 239, 239);
    border-radius: 2px;
}
footer{
    background-color: rgb(243, 240, 240);
    margin-top: 14rem;
}
.foot-heading{
    padding: .2em;
}
.foot-heading p{
    margin-left: 2.2em;
    text-transform: capitalize;
    color: rgb(109, 107, 107);
}
.foot-bottom{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-top: 1px solid rgb(206, 203, 203);
}
.foot-bottom a{
       text-transform: capitalize;
       text-decoration: none;
       color:rgb(109, 107, 107);
}
.foot-left a{
    margin-left: 1.5em;
}
.foot-right a {
    margin-right: 1.5em;
}
.foot-bottom a:hover{
    text-decoration: underline;
}